<ion-header>
    <ion-navbar color="secondary">
        <ion-title>
            {{title}}
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="RemoveItem()"><ion-icon ios="ios-trash" md="md-trash"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>

        <ion-list>

            <ion-item>
                <ion-input type="text" placeholder="Nome" [(ngModel)]="pessoa.nome"></ion-input>
            </ion-item>

            <ion-item>
                <ion-input type="number" placeholder="CPF" [(ngModel)]="pessoa.cpf"></ion-input>
            </ion-item>

            <ion-item>
                <ion-input type="date" placeholder="Data de Nascimento" [(ngModel)]="pessoa.datanascimento"></ion-input>
            </ion-item>

            <ion-item>
                <ion-input type="tel" placeholder="Telefone" [(ngModel)]="pessoa.telefone"></ion-input>
            </ion-item>

        </ion-list>

    </ion-card>

    <button ion-button full (click)="salvar()">Salvar</button>

</ion-content>