<ion-header>
    <ion-toolbar color="secondary">
        <ion-title>
            Add Item
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="close()"><ion-icon name="close"></ion-icon></button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>

        <ion-item>
            <ion-input type="text" placeholder="Nome" [(ngModel)]="pessoa.nome"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="number" placeholder="CPF" [(ngModel)]="pessoa.cpf"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="date" placeholder="Data de Nascimento" [(ngModel)]="pessoa.datanascimento"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="tel" placeholder="Telefone" [(ngModel)]="pessoa.telefone"></ion-input>
        </ion-item>

    </ion-list>

    <button full ion-button color="secondary" (click)="saveItem()">Salvar</button>

</ion-content>